@import url(https://fonts.googleapis.com/css2?family=Alike&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap);

body {
	background: #000;
	color: aliceblue;
	text-align: center;
	font-family: 'Londrina Shadow', display;
	font-size: 24px;
}

h1 {
	border-radius: 10px;
	margin: 20px auto;
	letter-spacing: 10px;
}

.game {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	margin: 0 auto;
	width: 300px;
}

.box {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	background: center / cover #eee;
	cursor: pointer;
	transition: all .1s ease-in-out;
}

@media(min-width: 600px) {
	body{
		font-size: 34px;
	}
	.game {
		width: 590px;
	}

	.box {
		width: 110px;
		height: 110px;
	}
}

@media(min-width: 1100px) {
	body{
		font-size: 44px;
	}

	.game {
		width: 1080px;
	}

	.box {
		width: 200px;
		height: 200px;
	}
}

.time {
	margin: 10px;
	background: #130;
	width: fit-content;
	border-radius: 10px;
	margin: 20px auto;
	font-size: 0.9em;
}

.timer {
	color: rgb(220, 230, 37);
	letter-spacing: 10px;
}

.records, .start {
	font-family: 'Alike', serif;
	font-size: 0.4em;
	width: 15%;
	position: fixed;
	right: 0;
	top: 0;
	background: rgb(230, 37, 37);
	max-height: 4em;
	overflow: hidden;
	border-radius: 0 0 0 70%;
	border: 2px dotted white;
	line-height: 4em;
	transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
	cursor: pointer;
	transition: all 1s ease-out;
}
.start{
	border-radius: 0 0 70% 0;
	left: 0;
}

.records:hover {
	text-align: left;
	padding-left: 20px;
	overflow: scrollY;
	max-height: 100vh;
	border-radius: 0 0 0 20%;
	background: #000;
	transition: all 1s ease-out;
}

.records:active, .start:active{
	background: #000;
}